* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 600px;
  height: 475px;
  background-color: rgb(233, 211, 182);
}

.row {
  text-align: center;
  padding-top: 5px;
}

.item {
  width: 180px;
  height: 225px;
  background-size: cover;
  position: relative;
  display: inline-block;
}

.first {
  background-image: url("../img/pd1.jpg");
}

.second {
  background-image: url("../img/pd2.jpg");
}

.third {
  background-image: url("../img/pd3.jpg");
}

.discount {
  font-size: 12px;
  font-weight: bold;
  top: 0px;
  right: 0px;
  position:absolute;
}

.high {
  background-color: green;
}

.low {
  background-color: red
}

.heart {
  font-size: 25px;
  color: red;
  position:absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

.item:hover .heart {
  display: block;
}
